header 
    position: fixed
    top: 0px
    width: 100%
    background-color: navycolor
    z-index: 1
    nav 
        display: flex
        justify-content: space-around
        padding: 30px 0
        align-items: center
        ul 
            display: flex
            justify-content: space-around
            flex-direction: row
            list-style-type: none
            margin: 0
            padding: 0
            li a 
                font-size: 20px
                color: white
                margin: 20px
                &:hover
                    text-decoration: none
                    color: bluecolor
