@import 'variables.styl'
@import 'header.styl'
@import 'main.styl'


body
    font-family: 'Charmonman', cursive;

.different_font
    font-family: 'KoHo', sans-serif;
    font-weight: 300
    .page
        color: navycolor 
        &:hover
            text-decoration: none
            color: navycolor
